  @import url("https://use.typekit.net/upc2trk.css");

  body {
    background-color: #FEFEFF;
    font-family: "logic-monospace", mono;
    margin-right: 8rem;
    margin-left: 8rem;
    margin-top: 3rem;
}

h1 {
  font-family: "logic-monospace", mono;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "logic-monospace", mono;
  font-weight: 500;
  font-size: 1.4rem;
  font-style: normal;
}

h3 {
  font-family: "logic-monospace", mono;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  line-height: .8;
}

p {
  font-family: "logic-monospace", mono;
  font-weight: 400;
  font-style: normal;
  font-size: .9rem;  
}

blockquote {
    font-family: "logic-monospace", mono;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
    color: #616161;
    margin-left: 2rem;
    padding-left: 10px;
  }

figcaption {
    font-family: "logic-monospace", mono;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
    color: #000000;
    margin-left: 2rem;
    padding-left: 10px;
  }

  caption {
    font-family: "logic-monospace", mono;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
    color: #616161;
    line-height: .8;
  }

  a:visited {
    color: inherit;
}

.sub {
  background: #F2F7FF;
  border: 1.5px solid black;
  padding: 5px 15px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border-radius: 12px;
  align-self: start;
  margin-right: 30px;
  transition: background 0.3s;
}

.sub:hover {
  background: #d1e2ff;
  border: 1.5px solid black;
  padding: 5px 15px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border-radius: 12px;
  align-self: start;
  margin-right: 30px;
  transition: background 0.3s;
}

.reply-meta {
    font-family: "logic-monospace", mono;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
    color: #616161;
    margin-top: 3rem;
}

.parent {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  overflow: hidden;
  }

.main-content {
  margin-right: 8rem;
  margin-left: 5rem;
  grid-column: 1/6;
  grid-row-start: 2;
  padding-bottom: 0;
}

.email-body p {
  margin-top: 1rem;
  padding-bottom: 0; 
}

.email-footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  grid-column: 1/6;
  grid-row-start: 3;
  display: flex;
  justify-content: flex-start;
}

.email-footer button {
  background: #F2F7FF;
  border: 1.5px solid black;
  padding: 10px 40px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border-radius: 12px;
  align-self: start;
  margin-right: 30px;
  transition: background 0.3s;
}

.email-footer button:hover {
  background: #d1e2ff;
  border: 1.5px solid black;
  padding: 10px 40px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border-radius: 12px;
  align-self: start;
  margin-right: 30px;
}

.next {
  margin-left: auto; 
}

.nav-controls {
  grid-column: 3;
  margin-bottom: 1rem;
  margin-right: 8rem;
}

.nav-controls button {
  padding: 5px 10px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border: 1.5px solid #000000;
  background-color: #F2F7FF;
  border-radius: 12px;
}

.nav-controls button:hover {
  padding: 5px 10px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border: 1.5px solid #000000;
  background-color: #d1e2ff;
  border-radius: 12px;
}
.exit {
    grid-column: 1;
    margin-left: 5rem;
}

.exit button {
    padding: 5px 10px;
    cursor: pointer;
    font-family: "logic-monospace", mono;
    border: 1.5px solid #000000;
    background-color: #F2F7FF;
    border-radius: 10px;
  }
  
  .exit button:hover {
    padding: 5px 10px;
    cursor: pointer;
    font-family: "logic-monospace", mono;
    border: 1.5px solid #000000;
    background-color: #d1e2ff;
    border-radius: 10px;
  }

.email-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative; 
  margin-bottom: 2rem;
}

.email-meta h2 {
  margin: 0;
}

.email-meta span {
  font-size: 0.9rem;
  color: #606060;
}

.email-meta .date {
  font-size: 0.9rem;
  color: #606060;
  margin-left: auto; 
  white-space: nowrap;
}

.content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #f1f1f1;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.email-list {
  flex: 1;
  overflow-y: auto;
}

.email-list ul {
  list-style: none;
  padding: 0;
}

.email-1 {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.line-1 {
    width: 1px;
    height: 57px;
    background-color: #616161;
    float: left;
    margin-left: 1.5rem;
}

.line-2 {
    width: 1px;
    height: 40px;
    background-color: #616161;
    float: left;
    margin-left: 1.5rem;
}

.line-3 {
    width: 1px;
    height: 20px;
    background-color: #616161;
    float: left;
    margin-left: 1.5rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    color: black;
}

.email-list {
    margin-top: 20px;
}

.email-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    transition: background 0.3s;
    font-weight: bold;
    background-color: white
}

.email-item:hover {
    background-color: #d1e2ff;
}

.sender {
    width: 20%;
    font-weight: bold;
}

.email-subject {
    width: 60%;
    color: rgb(0, 0, 0);
    text-align: left;
}

.date {
    width: 20%;
    text-align: right;
    color: black;
}

.footer {
    margin-top: -40px;
    text-align: right;
    color: black;
}

.read-email {
  background-color: #E5E5E5 !important;
  font-style: normal;
  font-weight: normal;
}

.reset-button {
  background: #F2F7FF;
  border: 1.5px solid black;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border-radius: 12px;
  margin-right: 30px;
  transition: background 0.3s;
  margin-top: 20px;
}

.reset-button:hover {
  background: #d1e2ff;
  border: 1.5px solid black;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border-radius: 12px;
  align-self: start;
  margin-right: 30px;
}

.btn-arrow {
  display: none;
}

.popup-container {
  position: relative;
  display: inline-block;
}

.popup-text {
  visibility: hidden;
  border: 1.5px solid black;
  background-color: #f9f9f9; 
  font-family: "logic-monospace", mono;
  color: #000000;
  border-radius: 10px;
  padding: 8px 10px;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out, visibility 0s 1s;
  width: 25rem;
  line-height: 1.4;
}

.popup-container:hover .popup-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

.hover-link {
  color: #000000; 
  text-decoration: none; 
  font-weight: bold; 
}

.hover-link:hover {
  color: #2431be; 
  text-decoration: underline; 
}

.search-bar {
  width: 98%;
  padding: 8px 15px;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border: 1.5px solid #000000;
  font-size: 1rem;
  background-color: #F2F7FF;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.search-bar:focus {
  border-color: #007bff;
  
}


@media only screen and (max-width: 600px) {
  .email-meta .year-time,
  .email-meta .email-address {
      display: none !important;
  }

  body {
    background-color: #FEFEFF;
    font-family: "logic-monospace", mono;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .main-content {
    margin-right: 2rem;
    margin-left: 2rem;
    grid-column: 1/6;
    grid-row-start: 2;
    padding-bottom: 0;
  }  

  h1 {
    font-family: "logic-monospace", mono;
    font-weight: 700;
    font-size: 1.8rem;
    font-style: normal;
    margin-bottom: 2rem;
  }
  
  h2 {
    font-family: "logic-monospace", mono;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: normal;
    margin-top: 2rem;
  }

  .email-footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    grid-column: 1/6;
    grid-row-start: 3;
    display: flex;
    justify-content: flex-start;
  }

  .email-footer button {
    background: #F2F7FF;
    border: 1.5px solid black;
    padding: 10px 30px;
    cursor: pointer;
    font-family: "logic-monospace", mono;
    border-radius: 12px;
    align-self: start;
    margin-right: 30px;
    transition: background 0.3s;
  }

  .nav-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap; 
}

.page-info {
    white-space: nowrap;
    display: inline-block;
    flex: 0 1 auto;
    text-align: center;
    margin-left: -50px;
}

.nav-controls a {
    text-decoration: none;
}

.nav-controls button {
    padding: 5px 12px;
    cursor: pointer;
    font-family: "logic-monospace", mono;
    border: 1.5px solid #000000;
    background-color: #F2F7FF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    flex-shrink: 0;
}

.nav-controls button .btn-text {
    display: none;
}

.nav-controls button .btn-arrow {
    display: inline-block;
    font-size: 1rem;
}

  .search-bar {
    width: 90%;
    padding: 8px 15px;
    cursor: pointer;
    font-family: "logic-monospace", mono;
    border: 1.5px solid #000000;
    font-size: .8rem;
    background-color: #F2F7FF;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    margin-right:4rem;
  }
  
  .footer {
    display: none;
}

.reset-button {
  background: #F2F7FF;
  border: 1.5px solid black;
  padding: 5px 10x;
  cursor: pointer;
  font-family: "logic-monospace", mono;
  border-radius: 12px;
  margin-right: 30px;
  transition: background 0.3s;
}

}